body{
    font-family:"Roboto",sans-serif;
    color:#434455;
    background-color: #FFFFFF;
}
.container{
    min-width: 1158px;
    padding-left: 15px; 
    padding-right: 15px;
    margin-left: 156px;
    margin-right: 156px;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0; 
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
.header{
    border-bottom: 1px solid #e7e9fc;
}
.container-header{
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: space-between; 
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    margin-right: 76px;
}
.logo-studio{
    color:#2e2f42;
}
.header-navigation{
    display: flex;
    align-items: center;
    float: left;
}
.header-navigation-list{
    display: flex;
    line-height: 1.5;
    color: rgba(46, 47, 66, 1);
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    gap:40px;
}
.header-navigation-list-part{
    padding: 24px 0;
}
.header-navigation-list-part:last-child{
    margin-right: 0;
}
.header-navigation-list-part-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
    padding: 10px 20px;
}
.header-adress{
    display: flex;
}
.header-adress-list{
    display: flex;
}
.header-adress-list-e{
    margin-right: 40px;
}
.header-adress-list-e:last-child{
    margin-right: 0;
}
.header-navigation-list-part-link:hover{
    color:#404bbf;
    line-height: 1.5rem;
}
.header-navigation-list-part-link:focus{
    color:#404bbf;
    line-height: 1.5rem;
}
.mailtel-link{
    color: #434455;
}
.mailtel-link:hover{
    color: #404bbf;
}
.mailtel-link:focus{
    color:#404bbf;
}
.header-adress-list-e{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.header-adress-list-e:hover{
    color:#404bbf;
    line-height: 1.5rem;
}
.header-adress-list-e:focus{
    color:#404bbf;
}
.header-adress{
    font-style: normal;
}
.effective-solution{
    width: 100%;
    padding: 188px 0;
    background-color: rgba(46, 47, 66, 1);
}
.effective-solution-title{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
    max-width: 496px;
}
.effective-solution-button{
    color: #FFFF;
    line-height: 1.5rem;
    cursor: pointer;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}
.effective-solution-button:hover{
    background-color: #404BBF;
}
.effective-solution-button:focus{
    background-color: #404BBF;
}
.effective-solution{
    background-color:#2e2f42;
}
.effective-solution-title{
    line-height: 1.07;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.headline{
    padding: 120px 0;
}
.visually-hidden{
    position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
      margin-bottom: 8px;
}
.headline-list{
    display: flex;
    gap: 24px;
}
.headline-list-part{
    width: calc((100% - 72px) / 4); 
}
.headline-list-part-title{
    line-height: 1.5rem;
    color:rgba(46, 47, 66, 1);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.headline-list-part-paragraf{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 8px;
    padding-left: 0px;
}
.our-team{
    background-color: rgba(244, 244, 253, 1);
    padding: 120px 0;
}
.our-team-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    padding-top: 120px;
    margin-bottom: 72px;
}
.our-team-member-img{
    display: block;
    width:calc((1128px-72px)/4);
}
.our-team-members{
    display: flex;
    padding-top: 72px;
    margin-left:auto;
    margin-right: auto;
    padding-bottom: 120px;
    gap:24px;
}
.our-team-member{
    width: calc((100% - 72px) / 4); 
    padding-right: 24px;
    border-radius: 0px 0px 4px 4px;
}
.our-team-member-container{
    padding: 32px 0;
}
.our-team-title{
    margin-bottom: 72px;
}
.our-team-member-name{
    text-align: center;
    margin-bottom: 8px;
}
.our-team-member-paragraf{
    text-align: center
}
.our-team-member h3,p{
    background-color: rgba(255, 255, 255, 1);
    padding:32px 16px;
    padding-left: auto;
    padding-right: auto;
}
.our-team-member-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 32px;
    padding-left: auto;
    padding-right: auto;
}
.our-portfolio{
    padding-top: 120px;
    padding-bottom: 120px; 
}
.container-our-portfolio{
    padding: 120px 0;
}
.our-portfolio_title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px; 
}
.our-portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;   
    row-gap: 48px; 
}
.our-portfolio-list-part-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.our-portfolio-list-part{
    width: calc((100% - 48px) / 3);
}
.our-portfolio-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
}
.our-portfolio-list-part-paragraf{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}
.logo-footer{
    display: inline-block;
    margin-bottom: 16px;
}
.logo-studio-footer{
    color:#f4f4fd;
}
.footer-paragraf{
    line-height: 1.5rem;
    font-weight: 400;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}
